{% extends "core/home.html" %}
{% load static %}

{% block scripts %}

    <!-- Аякс-скрипт проставления лайков-дизлайков к постам -->
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Настройка AJAX
        $(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
        });

        function like() {
            var like = $(this);
            var type = like.data('type');
            var pk = like.data('id');
            var action = like.data('action');
            var dislike = like.next();

            $.ajax({
                url: "/api/" + type + "/" + pk + "/" + action + "/",
                type: 'POST',
                data: {'obj': pk},

                success: function (json) {
                    like.find("[data-count='like']").text(json.like_count);
                    dislike.find("[data-count='dislike']").text(json.dislike_count);
                }
            });

            return false;

        }

        function dislike() {
            var dislike = $(this);
            var type = dislike.data('type');
            var pk = dislike.data('id');
            var action = dislike.data('action');
            var like = dislike.prev();

            $.ajax({
                url: "/api/" + type + "/" + pk + "/" + action + "/",
                type: 'POST',
                data: {'obj': pk},

                success: function (json) {
                    dislike.find("[data-count='dislike']").text(json.dislike_count);
                    like.find("[data-count='like']").text(json.like_count);
                }
            });

            return false;
        }

        // Подключение обработчиков
        $(function () {
            $('[data-action="like"]').click(like);
            $('[data-action="dislike"]').click(dislike);
        });
    </script>

{% endblock %}

{% block postlist %}
    {% for post in posts %}
        <div class="card post_list">
            <div class="card-header">
                <a href="{{ post.get_absolute_url }}" class="post_header">
                    {{ post.title }}
                    {% if post.important %}
                        <span class="badge badge-secondary">Закреплен</span>
                    {% endif %}
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">{{ post.body|linebreaks|truncatewords:20 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать подробнее</a>
            </div>
            <div class="card-footer text-muted">
                Опубликовано {{ post.created|date:"SHORT_DATE_FORMAT" }} в {{ post.created|time:"H:i" }}, Автор: <a
                    href="{{ post.author.user_profile.get_absolute_url }}">{{ post.author }}</a>
                <ul class="list-group list-group-horizontal">
                    <li data-id="{{ post.id }}" data-type="post" data-action="like" title="Нравится">
                        <span data-count="like">{{ post.votes.likes.count }}</span>
                    </li>
                    <li data-id="{{ post.id }}" data-type="post" data-action="dislike" title="Не нравится">
                        <span data-count="dislike">{{ post.votes.dislikes.count }}</span>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
    {% include "core/include/pagination.html" with page=page_obj %}
{% endblock %}