{% extends "core/home.html" %}
{% load static %}


{% block title %}Администрация{% endblock %}

{% block postlist %}
    <div class="card my-2"
         style="border-radius: 25px; background-image: url({% static "img/backgrounds/background1.png" %})">

        <div class="card-body text-center">
            <h3 class="text-center mt-1 mb-0"><i class="fa fa-user-circle text-primary" aria-hidden="true"></i>
                Администрация
            </h3>
            <hr>

            {% for user in users %}
                    <h4><a href="{{ user.user_profile.get_absolute_url }}">
                        {% for icon in user.user_profile.user_icon.all %}
                            <img src="{{ icon.image.url }}" width="20px" height="20px" title="{{ icon.description }}">
                        {% endfor %}{{ user.username }}
                    </a>
                        <span class="small text-muted">
                            {% for group in user.groups.all %}
                                {{ group.name }}
                            {% endfor %}
                        </span>
                    </h4>

            {% endfor %}

        </div>

    </div>



{% endblock %}