

<div class="modal fade" id="adminsModal">
    <div class="modal-dialog">
        <div class="modal-content text-center">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Администрация</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body">
                <h5 class="text-muted mb-2">
                    Создатель
                </h5>
                    <h6><a href="http://185.7.145.91/profile/1/marat/">Marat</a></h6>

                <h6 class="text-muted mb-2">
                    Помощники
                </h6>
                    <h6><a href="http://185.7.145.91/profile/2/iks/">mas</a></h6>
                    <h6><a href="http://185.7.145.91/profile/2/iks/">mas</a></h6>
                    <h6><a href="http://185.7.145.91/profile/2/iks/">mas</a></h6>
            </div>
        </div>
    </div>
</div>
