{% extends "core/home.html" %}
{% load static %}

{% block title %} Все новости   cis-haxball.com {% endblock %}

{% block scripts %}

    <!-- Аякс-скрипт проставления лайков-дизлайков к постам -->
    <script type="text/javascript" src="{% static "core/js/like-dislike.js" %}"></script>

{% endblock %}

{% block postlist %}
    <div class="card my-2"
         style="border-radius: 25px; background-image: url({% static "img/backgrounds/background1.png" %})">
        <div class="card-body">

            <h3 class="text-center mb-0"><i class="fa fa-newspaper-o text-success" aria-hidden="true"></i> Все новости
            </h3>
            <hr>
            {% for post in posts %}
                {% include "core/include/post_in_list.html" with post=post %}
            {% endfor %}
        </div>
        <div class="card-footer text-muted pb-0 pt-3">
            {% include "core/include/pagination.html" with page=page_obj %}
        </div>
    </div>

{% endblock %}