{% extends "core/home.html" %}

{% block title %}
    {{ post.title }}    cis-haxball.com
{% endblock %}
{% load static %}
{% load user_tags %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/core.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "ckeditor/ckeditor/plugins/spoiler/spoiler.css" %}">
    <style>
        body {
            background-image: url({% static "img/backgrounds/bg-light-4860.png" %})
        }
    </style>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/plugins/spoiler/spoiler.js" %}"></script>
    <!-- Аякс-скрипт проставления лайков-дизлайков к постам -->
    <script type="text/javascript" src="{% static "core/js/like-dislike.js" %}"></script>
{% endblock %}
{% block post %}

    <div class="card mb-4 mt-2" style="border-radius: 25px">
        <div class="card-header" style="border-radius: 25px">
            <h4 class="card-title mb-1">
                <div class="d-flex justify-content-between">
                    <span>{{ post.title }}
                        {% if post.author == user or user.is_superuser %}
                            <a href="{% url 'core:post_edit' post.slug post.id %}"
                               class="text-warning small text-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        {% endif %}
                    </span>
                    {% if post.category %}
                        <span class="text-right"><span class="font-italic h6">В разделе</span> <a
                                href="{{ post.category.get_absolute_url }}"
                                class="h5">{{ post.category.title }}</a></span>
                    {% else %}
                        <span></span>
                    {% endif %}
                </div>
            </h4>
            <small class="text-muted">
                <img src="{% static "img/ico/calendar_1.png" %}" height="21"
                     width="21"> {{ post.publish|date:"SHORT_DATE_FORMAT" }} <img
                    src="{% static "img/ico/clock_1.png" %}" height="19" width="19"> {{ post.publish|time:"H:i" }} <img
                    src="{% static "img/ico/user_1.png" %}" height="19" width="19"><a
                    href="{{ post.author.user_profile.get_absolute_url }}">{{ post.author }}</a>

            </small>
        </div>
        <div class="card-body">

            <p class="card-text">
                {{ post.body|safe }}
            </p>
        </div>
        <div class="card-footer d-inline-flex justify-content-between" style="cursor: pointer">
            <span class="text-muted"> Комментариев: {{ post.comments.count }} </span>

            <div>

                {% include 'core/include/like_dislike_panel.html' %}


                <span class="action-icons">
                    {% if user.is_authenticated %}
                        <a href="#addcomment" onclick="addComment('','')">
                            <i class="fa fa-reply"></i>
                        </a>
                    {% else %}
                        <a data-toggle="modal" data-target="#loginModal" style="cursor: pointer">
                            <i class="fa fa-reply"></i>
                        </a>
                    {% endif %}
                </span>
            </div>

        </div>

    </div>
{% endblock %}

{% block comments %}
    {% include 'core/include/new_comments.html' with object=post comments=comments %}
{% endblock %}


