{% extends "core/home.html" %}
{% load static %}

{% block scripts %}

    <!-- Аякс-скрипт проставления лайков-дизлайков к постам -->

    <script>

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Настройка AJAX
        $(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
        });

        var elClass = '.vote';

        function like() {
            var like = $(this);
            var type = like.data('type');
            var pk = like.data('id');
            var action = like.data('action');
            var dislike = like.next();


            var l_id = 'l' + pk
            var d_id = 'd' + pk
            $('#' + l_id).toggleClass('active');
            $('#' + d_id).removeClass('active');

            $.ajax({
                url: "/api/" + type + "/" + pk + "/" + action + "/",
                type: 'POST',
                data: {'obj': pk},

                success: function (json) {
                    like.find("[data-count='like']").text(json.like_count);
                    dislike.find("[data-count='dislike']").text(json.dislike_count);
                }
            });

            return false;

        }


        function dislike() {
            var dislike = $(this);
            var type = dislike.data('type');
            var pk = dislike.data('id');
            var action = dislike.data('action');
            var like = dislike.prev();

            var l_id = 'l'+pk
            var d_id = 'd'+pk
            $('#'+d_id).toggleClass('active');
            $('#'+l_id).removeClass('active');

            $.ajax({
                url: "/api/" + type + "/" + pk + "/" + action + "/",
                type: 'POST',
                data: {'obj': pk},

                success: function (json) {
                    dislike.find("[data-count='dislike']").text(json.dislike_count);
                    like.find("[data-count='like']").text(json.like_count);
                }
            });

            return false;
        }



        // Подключение обработчиков
        $(function () {
            $('[data-action="like"]').click(like);
            $('[data-action="dislike"]').click(dislike);


        });






    </script>

{% endblock %}

{% block postlist %}
<div class="card my-2" style="border-radius: 25px; background-image: url({% static "img/backgrounds/background1.png" %})">
    <div class="card-body">
    <h3 class="text-center mt-1 mb-0"><img src="{% static "img/ico/important.png" %}" height="37" width="37" style="vertical-align: top";>
        Важная информация!
    </h3>
    <hr>
    {% for post in posts %}
        {% if post.important %}
            {% include "core/include/post_important_in_list.html" with post=post %}
        {% endif %}
    {% endfor %}
    <h3 class="text-center mb-0"><img src="{% static "img/ico/news-icon-1.png" %}" height="37" width="37" style="vertical-align: top";> Последние новости</h3>
    <hr>

    {% for post in posts %}
        {% if not post.important %}
            {% include "core/include/post_in_list.html" with post=post %}
        {% endif %}
    {% endfor %}
    </div>

        <div class="card-footer text-muted">
        <a href="#">Смотреть все новости</a>
    </div>
</div>

{% endblock %}

<!-- Тут выводится наша лайк-дизлайк панель -->
<!-- <ul class="list-group list-group-horizontal">
    <li data-id="{{ post.id }}" data-type="post" data-action="like" title="Нравится">
        <span data-count="like">{{ post.votes.likes.count }}</span>
    </li>
    <li data-id="{{ post.id }}" data-type="post" data-action="dislike" title="Не нравится">
        <span data-count="dislike">{{ post.votes.dislikes.count }}</span>
    </li>
</ul> -->
<!-- Конец лайк-дизлайк панели -->

<!-- </div>
 </div> -->
