{% extends "core/home.html" %}
{% load static %}

{% block profile_of_user %}
    <h1>{{ profile.name }}</h1>
    <h2>Зарегестрирован:</h2>
    <h2>{{ profile.name.date_joined }}</h2>
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" width="200" height="300">
    {% endif %}
    <h3>О себе:</h3>
    <p>{{ profile.about }}</p>

{% endblock %}


{% block comments %}
    {% with profile.comments.count as total_comments %}
        <h2>
            Комментариев {{ total_comments }}
        </h2>
    {% endwith %}


    {% include 'core/include/form_comment.html' with nickname=user.username element=profile %}

    {% for comment in profile.comments.all %}
        <div class="card post_list">
        <div class="card-header">
            <a href="{{ comment.author.user_profile.get_absolute_url }}" class="post_header">
                {{ comment.author }}
            </a>
        </div>
        <div class="card-body">
            <p class="card-text">{{ comment.body|linebreaks }}</p>
        </div>
        <div class="card-footer text-muted">
            Отправлено {{ comment.created|date:"SHORT_DATE_FORMAT" }} в {{ comment.created|time:"H:i" }}, Автор: <a
                href="{{ comment.author.user_profile.get_absolute_url }}">{{ comment.author }}</a>
        </div>
        </div>

    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% include "core/include/pagination.html" with page=comments %}
{% endblock %}