{% extends "core/home.html" %}
{% load static %}

{% block profile_of_user %}
    <h1>{{ profile.name }}</h1>
    <h2>Зарегестрирован:</h2>
    <h2>{{ profile.name.date_joined }}</h2>
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" width="200" height="300">
    {% endif %}
    <h3>О себе:</h3>
    <p>{{ profile.about }}</p>

{% endblock %}


{% block comments %}
    {% with profile.comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}

    {% for comment in profile.comments.all %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.author }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form action={% url 'core:profile_detail' profile.slug %} method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}

{% endblock %}