{% extends "core/home.html" %}
{% load static %}
{% load user_tags %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/profile/profile.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/core.css" %}">
    <style>
        body {
            background-image: url({% static "img/backgrounds/bg-light-4860.png" %})
        }
    </style>
{% endblock %}

{% block profile_of_user %}
    {% if user == profile.name %}
        {% include "core/include/profile_editor_form.html" with element=profile %}
    {% else %}
        Вы петух, батенька!
    {% endif %}
{% endblock %}
