{% extends "core/home.html" %}
{% load static %}
{% load user_tags %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/profile/profile.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/core.css" %}">

{% endblock %}
{% block title %}Профиль {{ profile.name }} {% endblock %}

{% block profile_of_user %}
    <hr>

    <div class="card user-card-full">
        <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                    <div class="m-b-10"><img src="{{ profile.avatar.url }}" width="100%" height="100%"
                                             class="img-radius" alt="User-Profile-Image"></div>
                    <h4 class="f-w-600">{{ profile.name }}
                        {% if profile.name.is_superuser %}
                        <i class="fa fa-star text-success" aria-hidden="true"></i>

                        {% endif %}
                    <p class="mb-1">Без команды</p>
                    <p>Рейтинг {% karma profile %}</p>
                    <p class="mb-0">
                        <img src="{% static "img/ico/vk_1.png" %}" height="41" width="41" title="vk">
                        <img src="{% static "img/ico/discord_1.png" %}" height="41" width="41" title="vk">
                        <img src="{% static "img/ico/tg_1.png" %}" height="41" width="41" title="vk">
                    </p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card-block">
                    <h5 class="m-b-20 p-b-5 b-b-default f-w-600">Основная информация  {% if profile.name.username == user.username %}

                    <a href="{% url 'core:edit_profile' profile.slug profile.id %}"
                       class="text-warning small text-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>

            {% endif %}
                    </h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Дата регистрации</p>
                            <h6 class="text-muted f-w-400">{{ profile.name.date_joined|date }}</h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Последний визит</p>
                            <h6 class="text-muted f-w-400">{{ profile.name.last_login }}</h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Дата рождения</p>
                            <h6 class="text-muted f-w-400">

                                {% if profile.born_date %}
                                    {{ profile.born_date }}
                                    ({% age profile.born_date %})
                                {% else %}
                                    не указана(
                                {% endif %}
                            </h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Город</p>
                            <h6 class="text-muted f-w-400">
                                {% if profile.city %}
                                    {{ profile.city }}
                                {% else %}
                                    не указан
                                {% endif %}</h6>
                        </div>
                    </div>

                    <h5 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Активность</h5>
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <p class="m-b-10 f-w-600"><img src="{% static "img/ico/comment_1.png" %}"></p>
                            <h6 class="text-primary f-w-400">{{ profile.name.comments_by_user.count }}</h6>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p class="m-b-10 f-w-600"><img src="{% static "img/ico/like_1.png" %}"></p>
                            <h6 class="text-success f-w-400">{{ profile.name.likedislike_set.likes.count }}</h6>
                        </div>
                        <div class="col-sm-4 text-center">
                            <p class="m-b-10 f-w-600"><img src="{% static "img/ico/dislike_1.png" %}"></p>
                            <h6 class="text-danger f-w-400">{{ profile.name.likedislike_set.dislikes.count }}</h6>
                        </div>
                    </div>

                    <h5 class="m-b-20 m-t-30 p-b-5 b-b-default f-w-600">О себе</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="text-muted f-w-400">
                                {{ profile.about }}
                            </h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>







{% endblock %}
