<div class="card" style="padding: 10px; background-color: #e2e3e5">
    <form action={% url 'core:edit_profile' element.slug %} method="post">
        {% csrf_token %}
        <!-- <div class="form-group">
        <label for="nickname">{{ nickname }}</label>
    </div> --!>
        <div class="form-group editContent">

        <textarea class="form-control border" rows="3" name="about"
                  id="contactcomment" required="" rows="2" placeholder="{{ element.about }}">{{ element.about }}</textarea>
        </div>
        <input type="date" id="start" name="born_date"
       value="{{ element.born_date }}"
       min="1966-01-01" max="2020-07-17">
        {{ element.born_date }}</input>
        <div align="right">
            <button type="submit" class="btn btn-primary" style="margin-right: 20px">Отправить</button>
        </div>
    </form>
</div>