{% load static %}
{% load user_tags %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/include/comments.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/core.css" %}">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
{% endblock %}

{% if user.is_authenticated %}
    {% include 'core/include/form_comment.html' %}
{% else %}
    Войдите, чтобы оставить комментарий
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="card"  style="border-radius: 20px 20px 0px 0px">
            <div class="card-body card-body-comment">
                <h4 class="card-title">Последние комментарии </h4>
                <h6 class="card-subtitle">Комментарии</h6>
            </div>
            <div class="comment-widgets m-b-20">
                {% for comment in comments %}
                    <div class="d-flex flex-row comment-row">
                        <div class="p-2">
                            <span class="round">
                                <img src="{{ comment.author.user_profile.avatar.url }}"
                                     alt="{{ comment.author.username }}" width="50">
                            </span>
                        </div>
                        <div class="comment-text w-100">
                            <a href="{{ comment.author.user_profile.get_absolute_url }}">
                                <h5>
                                    {{ comment.author.username }}
                                    <span class="badge">
                                        {% karma comment.author.user_profile %}
                                    </span>
                                    {{ comment.is_parent }}
                                    {{ comment.chil }}
                                </h5>
                            </a>
                            <div class="comment-footer">
                                <span class="date">
                                    {{ comment.created|timesince }} назад
                                </span>

                                <ul class="list-group list-group-horizontal-md d-inline-flex">
                                    <li class="action-like fa fa-thumbs-up {% if comment.votes.likes.all|user_in:user %}text-success{% endif %}" data-id="{{ comment.id }}"
                                        data-type="comment" data-action="like" id="lcomment{{ comment.id }}">
                                        <span data-count="like">{{ comment.votes.likes.count }}</span>
                                    </li>

                                    <li class="action-dislike fa fa-thumbs-down {% if comment.votes.dislikes.all|user_in:user %}text-danger{% endif %}" data-id="{{ comment.id }}"
                                        data-type="comment" data-action="dislike" id="dcomment{{ comment.id }}">

                                        <span data-count="dislike">{{ comment.votes.dislikes.count }}</span>
                                    </li>
                                </ul>


                                <span class="action-icons">
                                    <a href="#addcomment" onclick="addComment('{{ comment.author.username }}','{{ comment.id }}')">
                                        <i class="fa fa-reply"></i>
                                    </a>
                                </span>
                            </div>
                            <p class="m-b-5 m-t-10">
                                {{ comment.body|safe }}
                            </p>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
</div>
<script>
    function addComment(name,id) {
        document.getElementById('contactparent').value = id
        document.getElementById('contactcomment').innerText = `${name},`
    }
</script>


{% if object.comments.count > 2 %}
    {% include "core/include/pagination.html" with page=comments %}
{% endif %}
