{% load static %}

{% if user.is_authenticated %}
    {% include 'core/include/form_comment.html' %}
{% else %}
    Войдите, чтобы оставить комментарий
{% endif %}

{% for comment in comments %}
    <div class="card post_list">
        <div class="card-header">
            <img src="{{ comment.author.user_profile.avatar.url }}" class="rounded-circle float-left" width="50"
                 height="50">

            <a href="{{ comment.post.get_absolute_url }}#{{ comment.id }}">комментрий номер()</a>

            <a href="{{ comment.author.user_profile.get_absolute_url }}" class="post_header">
                {{ comment.author }}
            </a>
        </div>
        <div class="card-body">
            <p class="card-text">{{ comment.body|safe }}</p>
        </div>
        <div class="card-footer text-muted d-inline-flex justify-content-between">
            <span> Отправлено {{ comment.created|date:"SHORT_DATE_FORMAT" }} в {{ comment.created|time:"H:i" }}, Автор: <a
                href="{{ comment.author.user_profile.get_absolute_url }}">{{ comment.author }}</a>
            </span>
        <ul class="list-group list-group-horizontal-md">
            <li class="btn btn-sm p-0" type="button" data-id="{{ comment.id }}" data-type="comment" data-action="like" title="Нравится">
                  <img src="{% static "img/svg/hand-thumbs-up.svg" %}">
                <span data-count="like" class="font-weight-bold">{{ comment.votes.likes.count }}</span>
            </li>
            <li class="btn btn-sm p-0" type="button" data-id="{{ comment.id }}" data-type="comment" data-action="dislike" title="Не нравится">
                <img src="{% static "img/svg/hand-thumbs-down.svg" %}">
                <span data-count="dislike" class="font-weight-bold">{{ comment.votes.dislikes.count }}</span>
            </li>
        </ul>

        </div>
    </div>

{% empty %}
    <p>Пока никто не оставил комментарий. Будьте первым!</p>
{% endfor %}

{% if object.comments.count > 2 %}
    {% include "core/include/pagination.html" with page=comments %}
{% endif %}
