{% load static %}
{% load user_tags %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/include/navbar.css" %}">
{% endblock %}
<nav class="navbar navbar-light navbar_color nav-fill"
     style="background-image:url({% static "img/backgrounds/banner-animu.PNG" %}); height: 100px; background-position: center; ">


    <form class="form-inline" method="get" action="{% url 'core:filter' %}">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>


    <div class="mr-100">
        <!-- <iframe src="https://money.yandex.ru/quickpay/button-widget?targets=%D0%9F%D0%BE%D0%B6%D0%B5%D1%80%D1%82%D0%B2%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5&default-sum=200&button-text=14&yamoney-payment-type=on&button-size=m&button-color=black&successURL=&quickpay=small&account=410011043451485&"
                width="250" height="36" frameborder="0" allowtransparency="true" scrolling="no"></iframe> -->
    </div>
</nav>

<nav class="navbar navbar-expand-xl bg-dark navbar-dark d-flex bd-highlight mb-0 sticky-top p-1">
    <!-- Brand -->
    <a class="navbar-brand font-weight-bold ml-2" href="{% url 'core:home' %}"><img
            src="{% static "img/logo_try.png" %}" width="30" height="30" alt="Главная"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Links -->
        <ul class="navbar-nav mr-auto bd-highlight">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold mx-1 text-right" href="#" id="navbardrop"
                   data-toggle="dropdown">
                    Чемпионат
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'tournament:league' 's9-premier-league' %}">🅱️ Высшая
                        Лига</a>

                    <a class="dropdown-item submenu" href="#">🤣 Первая Лига</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'tournament:league' 's9-first-Volga' %}">Дивизион
                            Волги</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's9-first-Kama' %}">Дивизион
                            Камы</a>
                    </div>


                    <a class="dropdown-item submenu" href="#">🆑 Кубок ПЛ</a>
                    <div class="dropdown-menu">
                        {#                        <a class="dropdown-item" href="{% url 'tournament:league' 's8-league-cup-play-off' %}">Плей-офф#}
                        {#                            Кубка Лиги</a>#}
                        <a class="dropdown-item" href="{% url 'tournament:league' 's9-first-league-cup-group-A' %}">Группа
                            А</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's9-first-league-cup-group-B' %}">Группа
                            B</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's9-first-league-cup-group-C' %}">Группа
                            С</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's9-first-league-cup-group-D' %}">Группа
                            D</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's9-first-league-cup-play-off' %}">Плей-офф
                            Кубка Первой Лиги</a>

                    </div>

                    <a class="dropdown-item" href="{% url 'tournament:league' 's9-cup' %}">🏆 Кубок России</a>

                    <a class="dropdown-item"
                       href="https://docs.google.com/spreadsheets/d/1TGyS-1VhoClWp_knNXAeezwpsdco8QK8qbp2pIcc45k/edit?usp=sharing"><span
                            style="width: 2%">🗓</span> Календарик</a>

                    <a class="dropdown-item" href="{% url 'reservation:host_reservation' %}">🕜 Бронь хоста</a>

                    <a class="dropdown-item submenu" href="#">⌛️ Переносы</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://www.cis-haxball.com/post/566/postpone-premier-league">Высшая
                            Лига</a>
                        <a class="dropdown-item" href="https://www.cis-haxball.com/post/567/postpone-first_Volga">Дивизион
                            Волги</a>
                        <a class="dropdown-item" href="https://www.cis-haxball.com/post/568/postpone-first_Kama">Дивизион
                            Камы</a>
                        <a class="dropdown-item" href="https://www.cis-haxball.com/post/569/postpone-first_league_cup">Кубок
                            Первой Лиги</a>
                    </div>

                    <a class="dropdown-item" href="https://www.cis-haxball.com/post/562/transfer-9">🤝 Трансферы</a>
                    <a class="dropdown-item" href="{% url 'tournament:free_agent' %}">🆓 Свободные агенты</a>
                    <a class="dropdown-item" href="https://www.cis-haxball.com/post/111/org_razdel">❓ Орг. раздел</a>
                    <a class="dropdown-item" href="https://www.cis-haxball.com/post/397/reglament-9">📚 Регламент</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold mx-1 text-right" href="#" id="navbardrop"
                   data-toggle="dropdown">
                    Команды
                </a>
                <div class="dropdown-menu" style="width: 700px;">
                    {% teams_in_navbar %}
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link font-weight-bold mx-1 text-right" href="{% url 'core:tournaments' %}">Турниры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold mx-1 text-right" href="{% url 'core:fastcups' %}">Фасткапы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold mx-1 text-right text-success"
                   href="https://www.cis-haxball.com/forum/guides">Гайды</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold mx-1 text-right" href="{% url 'core:lives' %}">Видео</a>
            </li>
            <li class="nav-item font-weight-bold dropdown mx-1 text-right">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    Архив
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://www.cis-haxball.com/post/46/season_1">ЧР #1</a>
                    <a class="dropdown-item" href="https://www.cis-haxball.com/post/47/season_2">ЧР #2</a>
                    <a class="dropdown-item" href="https://www.cis-haxball.com/post/48/season_3">ЧР #3</a>
                    <a class="dropdown-item" href="https://www.cis-haxball.com/post/50/champions_league_1">ЛЧ
                        #1</a>

                    <a class="dropdown-item" href="https://www.cis-haxball.com/post/49/season_4">ЧР #4</a>
                    <a class="dropdown-item submenu" href="#">ЧР #5</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'tournament:league' 's5-premier_league' %}">Единая
                            лига</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's5-cup' %}">Кубок России</a>
                    </div>
                    <a class="dropdown-item submenu" href="#">ЛЧ #2</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'tournament:league' 'lch2-group-a' %}">Группа А</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 'lch2-group-b' %}">Группа B</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 'ploff_lch2' %}">Плей-офф</a>
                    </div>

                    <a class="dropdown-item submenu" href="#">ЧР #6</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'tournament:league' 's6-premier_league' %}">Единая
                            лига</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's6-cup' %}">Кубок России</a>
                    </div>

                    <a class="dropdown-item submenu" href="#">ЧР #7</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'tournament:league' 's7-premier_league' %}">Высшая
                            лига</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's7-first_division' %}">Первая
                            лига</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's7-cup' %}">Кубок России</a>
                    </div>

                    <a class="dropdown-item submenu" href="#">ЛЧ #3</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'tournament:league' 'lch3-group-a' %}">Группа А</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 'lch3-group-b' %}">Группа B</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 'lch3-group-c' %}">Группа C</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 'lch3-group-d' %}">Группа D</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 'lch3-play-off' %}">Плей-офф</a>
                    </div>
                    <a class="dropdown-item submenu" href="#">ЧР #8</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'tournament:league' 's8-premier-league' %}">Высшая
                            лига</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's8-first_sharks' %}">Первая лига –
                            дивизион Акул</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's8-first_berkuts' %}">Первая лига –
                            дивизион Беркутов</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's8-cup' %}">Кубок России</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's8-league-cup-group-A' %}">Кубок Лиги
                            группа А</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's8-league-cup-group-B' %}">Кубок Лиги
                            группа B</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's8-league-cup-group-C' %}">Кубок Лиги
                            группа C</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's8-league-cup-group-D' %}">Кубок Лиги
                            группа D</a>
                        <a class="dropdown-item" href="{% url 'tournament:league' 's8-league-cup-play-off' %}">Кубок
                            Лиги плей-офф</a>
                    </div>

                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link font-weight-bold text-warning mx-1 text-right"
                   href="{% url 'tournament:hall_of_fame' %}">Зал славы</a>
            </li>

            <li class="nav-item">
                <a class="nav-link font-weight-bold mx-1 text-right" href="{% url 'core:forum' %}">Форум</a>
            </li>

            <li class="nav-item">
                <a class="nav-link font-weight-bold mx-1 text-right" href="{% url 'core:admins' %}">Администрация</a>
            </li>

            <li class="nav-item">
                <a class="nav-link font-weight-bold mx-1 text-right" href="http://www.cis-haxball.com/post/16/rules">Правила</a>
            </li>

            <!--
            <li class="nav-item">
                <a class="nav-link text-success font-weight-bold mx-1 text-right" href="{% url 'reservation:replays_list' %}">Реплеи</a>
            </li>
-->

        </ul>




        {% if user.is_authenticated %}
            <a class="p-2" href="{{ user.user_profile.get_absolute_url }}">{{ user.username }}</a>
        {% else %}
            <a role="button" class="btn btn-success mr-2" href="{% url 'account_signup' %}">Регистрация</a>
        {% endif %}

        {% if user.is_authenticated %}
            <button type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#logoutModal">
                Выход
            </button>
        {% else %}
            <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#loginModal">
                Вход
            </button>
        {% endif %}
    </div>

    <!-- Button to Open the Modal -->


</nav>

