<head>{{ comment_form.media }}</head>

<form action="{% url 'core:add_comment_profile' object.id %}" method="post" id="addcomment" class="text-center">
    {% csrf_token %}
    <!--<input type="hidden" name="page" value="{# page #}">-->
    <input type="hidden" name="parent" id="contactparent" value="">

    <div class="form-group">
        {{ comment_form.body }}
        <!-- <textarea class="form-control border" rows="3" name="body"
                   id="contactcomment" required="" rows="2" placeholder="Оставьте Ваш комментарий"></textarea> -->
    </div>

    <div align="right">
        <!--Отправить</input>-->
        <input type="submit" class="btn btn-primary mr-4">
    </div>
</form>