{% load static %}
{% load user_tags %}

<div class="card mx-1 my-2" style="border-radius:20px;">

    <a href="{{ post.get_absolute_url }}" type="button"
       class="button btn btn-outline-dark btn-lg btn-block" style="border-radius:20px 20px 0px 0px;">

        {{ post.title }}
        {% if post.created|is_fresh:5 %}
        <span class="badge badge-pill badge-success">Новая!</span>
        {% endif %}

    </a>
    <div class="collapse" id="{{ post.slug }}{{ post.id }}">
        <div class="card card-body">
            {{ post.body|safe }}
        </div>
    </div>

    <div class="card-footer px-3 py-1 d-inline-flex justify-content-between" style="border-radius:0px 0px 20px 20px;">
        <span class="text-muted"> <i class="fa fa-calendar text-primary" aria-hidden="true"></i>  {{ post.created|date:"SHORT_DATE_FORMAT" }}
            <i class="fa fa-clock-o text-primary" aria-hidden="true"></i>{{ post.created|time:"H:i" }}<a
                    href="{{ post.author.user_profile.get_absolute_url }}" class="fa fa-user-o text-primary pl-1">{{ post.author }}</a>,
            <i class="fa fa-comments-o text-primary" aria-hidden="true"></i>{{ post.comments.count }}</span>



        {% if user.is_authenticated %}
        <ul class="list-group list-group-horizontal-md d-inline-flex">
                                    <li class="action-like fa fa-thumbs-up {% if post.votes.likes.all|user_in:user %}text-success{% endif %}"
                                       data-id="{{ post.id }}" data-type="post" data-action="like" id="lpost{{ post.id }}" title="Нравится">
                                        <span data-count="like">{{ post.votes.likes.count }}</span>
                                    </li>

                                    <li class="action-dislike fa fa-thumbs-down {% if post.votes.dislikes.all|user_in:user %}text-danger{% endif %}"
                                        data-id="{{ post.id }}" data-type="post" data-action="dislike" id="dpost{{ post.id }}" title="Не нравится">

                                        <span data-count="dislike">{{ post.votes.dislikes.count }}</span>
                                    </li>
                                </ul>

        {% endif %}
    </div>


</div>
