{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/include/sidebar_for_users.css" %}">
{% endblock %}

<div class="card" style="border-radius: 20px 20px 0px 0;">
    <div class="card-header d-inline-flex mb-0 justify-content-center bg-for-online-head" style="border-radius: 20px 20px 0px 0;">
            <h6 class="mb-0">Сейчас онлайн: {{ users_online_count }}</h6>
    </div>
    <div class="card-body pr-0 py-1 pl-0 bg-for-online-body" style="position: relative; height: 250px; overflow: auto;">
        <div class="btn-group-vertical w-100">
            {% for user in users_online %}
                <a type="button" class="btn btn-secondary btn-block text-left justify-content-between"
                   href="{{ user.user_profile.get_absolute_url }}">

                    <i class="mr-1 fa fa-circle text-success" aria-hidden="true"></i>{{ user }}
                    <span>
                    {% for icon in user.user_profile.user_icon.all %}
                        <img src="{{ icon.image.url }}" width="16px" height="16px" title="{{ icon.description }}">
                    {% endfor %}
                    </span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>