{% load static %}
    <div class="alert alert-primary users-online m-0" role="alert">
        Сейчас онлайн: {{ users_online_count }}
    </div>
    <ul class="list-group list-group-flush">
        {% for user in users_online %}
                <a class="list-group-item justify-content-between" href="{{ user.user_profile.get_absolute_url }}">
                    <i class="mr-1 fa fa-circle text-success" aria-hidden="true"></i>{{ user }}
                    <span>
                    {% for icon in user.user_profile.user_icon.all %}
                        <img src="{{ icon.image.url }}" width="16px" height="16px" title="{{ icon.description }}">
                    {% endfor %}
                    </span>
                </a>
        {% endfor %}
    </ul>