{% extends "base.html" %}
{% load static %}
{% load cache %}

{% load account %}
{% load i18n %}
{% load user_tags %}
{% load polls_extras %}
{% block title %}Добро пожаловать на cis-haxball.com! {% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/core.css" %}">
    <style>
        .discord-invite {
            background-color: rgb(47, 49, 54);
            border-radius: 4px;
            box-sizing: border-box;
            height: 110px;
            padding: 16px;
            width: 432px;
            font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
        }

        .discord-invite-text {
            block-size: 16px;
            font-size: 12px;
            height: 16px;
            margin-bottom: 12px;
            margin-top: 0px;
            text-transform: uppercase;
            color: rgb(185, 187, 190);
        }

        .discord-invite-body {
            display: flex;
            justify-content: center;
            width: 400px;
        }

        .discord-invite-image {
            background-image: url("https://cdn.discordapp.com/icons/SERVER-ID/SERVER-ICON-HASH.png?size=128");
            background-position: 50% 50%;
            background-size: 100% 100%;
            border-radius: 15px;
            margin-right: 16px;
            width: 50px;
        }

        .discord-invite-details {
            block-size: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 246.2px;
        }

        .discord-invite-name {
            margin: 0px;
            color: white;
            display: flex;
        }

        .discord-invite-verified {
            color: rgb(114, 137, 218);
            display: flex;
            margin-right: 8px;
        }

        .discord-invite-verified-tick {
            display: flex;
            position: absolute;
        }

        .discord-invite-verified-tick-svg {
            color: white;
        }

        .discord-invite-counts {
            margin: 0px;
            align-items: center;
            display: flex;
            color: rgb(185, 187, 190);
        }

        .discord-invite-status-icon {
            block-size: 8px;
            border-radius: 50%;
            inline-size: 8px;
            margin-right: 4px;
        }

        .discord-invite-online-icon {
            background-color: rgb(67, 181, 129);
        }

        .discord-invite-offline-icon {
            background-color: rgb(116, 127, 141);
        }

        .discord-invite-join-button {
            border-radius: 3px;
            align-items: center;
            background-color: rgb(67, 181, 129);
            block-size: 40px;
            box-sizing: border-box;
            color: white;
            display: flex;
            inline-size: 77.8px;
            justify-content: center;
            margin-left: 10px;
            padding: 2px 20px;
            text-decoration: none;
        }

        .discord-invite-count {
            font-size: 12px;
            margin-right: 8px;
        }
    </style>
{% endblock %}


{% block content %}


    <div class="container-fluid justify-content-center">
        <div class="row" style="max-width: 1600px; position: relative; margin: 0 auto;">
            <div class="col-1 col-xl-2 col-lg-3 col-sm-6 order-xl-1 order-lg-2 order-md-2 order-sm-2 my-2 px-1">
                {% block sidebar_users %}
                    {% show_users_online 12 %}
                {% endblock %}



                {% polls_list 2 user %}


                <div class="card mb-1 mr-0 mt-2 text-right">
                    <iframe src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&default-sum=500&button-text=12&payment-type-choice=on&successURL=https%3A%2F%2Fwww.cis-haxball.com%2F&quickpay=shop&account=410011043451485&targets=%D0%9F%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4%20%D0%BF%D0%BE%20%D0%BA%D0%BD%D0%BE%D0%BF%D0%BA%D0%B5&"
                            width="100%" height="250" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                </div>

            </div>
            <div class="col-6 main-col col-xl-6 col-lg-12 col-md-12 col-sm-12 mx-0 order-xl-2 order-md-1 order-sm-1 order-lg-1 px-1">


                <!-- Всплывающее окно входа на сайт -->
                {% include 'core/include/login_logout_modal/log_out_modal.html' %}

                <!-- Всплывающее окно выхода с сайта -->
                <div class="modal" id="logoutModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Хотите выйти?</h4>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-footer">
                                <form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Да</button>
                                </form>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Нет</button>
                            </div>
                        </div>
                    </div>
                </div>


                {# Блок для отображение профиля пользователя #}
                {% block profile_of_user %}
                {% endblock %}

                {# Блок для отображение одного поста, пост-детейл #}
                {% block post %}
                {% endblock %}

                {# Блок для списка постов #}
                {% block postlist %}
                {% endblock %}

                {# Блок для отображение списка комментариев #}
                {% block comments %}
                {% endblock %}

            </div>
            <div class="col-3 col-xl-2 col-lg-3 col-sm-6 order-3 order-xl-3 order-sm-3 px-1">

                {% block sidebar_last_activity %}
                    {% show_last_activity 10 %}
                {% endblock %}

                {% block sidebar_top_comments %}
                    {% show_top_comments 5 %}
                {% endblock %}

            </div>
            <div class="col-2 col-xl-2 col-lg-3 col-sm-6 order-3 order-xl-3 order-sm-3 px-1">


                <div class="discord-invite">
                    <h5 class="discord-invite-text">You have been invited to join a server</h5>
                    <div class="discord-invite-body">
                        <div class="discord-invite-image"></div>
                        <div class="discord-invite-details">
                            <h3 class="discord-invite-name">
                                <!--Uncomment if server is verified
                                                <div class="discord-invite-verified">
                                                    <svg class="discord-invite-verified-svg" aria-hidden="false" width="16" height="16" viewBox="0 0 16 15.2"><path fill="currentColor" fill-rule="evenodd" d="m16 7.6c0 .79-1.28 1.38-1.52 2.09s.44 2 0 2.59-1.84.35-2.46.8-.79 1.84-1.54 2.09-1.67-.8-2.47-.8-1.75 1-2.47.8-.92-1.64-1.54-2.09-2-.18-2.46-.8.23-1.84 0-2.59-1.54-1.3-1.54-2.09 1.28-1.38 1.52-2.09-.44-2 0-2.59 1.85-.35 2.48-.8.78-1.84 1.53-2.12 1.67.83 2.47.83 1.75-1 2.47-.8.91 1.64 1.53 2.09 2 .18 2.46.8-.23 1.84 0 2.59 1.54 1.3 1.54 2.09z"></path></svg>
                                                    <div class="discord-invite-verified-tick">
                                                        <svg class="discord-invite-verified-tick-svg" aria-hidden="false" width="16" height="16" viewBox="0 0 16 15.2"><path d="M7.4,11.17,4,8.62,5,7.26l2,1.53L10.64,4l1.36,1Z" fill="currentColor"></path></svg>
                                                    </div>
                                                </div>
                                -->
                                CIS-HAXBALL
                            </h3>
                            <div class="discord-invite-counts">
                                <i class="discord-invite-status-icon discord-invite-online-icon"></i>
                                <strong class="discord-invite-count">X,XXX Online</strong>
                                <i class="discord-invite-status-icon discord-invite-offline-icon"></i>
                                <strong class="discord-invite-count">Y,YYY Members</strong>
                            </div>
                        </div>
                        <a type="button" class="discord-invite-join-button" href="https://discord.gg/INVITE-CODE">
                            Join
                        </a>
                    </div>
                </div>

                <!--

                                <div class="card mt-2 mb-1" style="border-radius: 20px 20px 20px 20px;">
                    <div class="card-header d-inline-flex mb-0 justify-content-center bg-for-online-head"
                         style="border-radius: 20px 20px 0px 0">
                        <h5>Сервер TeamSpeak 3</h5>
                    </div>
                    <div class="card-body p-0 bg-for-online-body"
                         style="position: relative; border-radius: 0px 0px 20px 20px; width:  inherit; padding: 5%">
                        <h5 class="card-title mb-3 mt-1 text-center text-white">haxball.ts3.ru</h5>
                        <div class="d-flex">
                            <div class="d-inline-flex mb-2" style="margin-left: 2px; margin-right: 1px;">
                                <a href="ts3server://haxball.ts3.ru" class="m-0 p-0">
                                    <img src='{% static "img/ico/button-link.PNG" %}' title="haxball.ts3.ru"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin-right: 2px">
                                <img src='{% static "img/ico/button-copy.PNG" %}'
                                     onclick="navigator.clipboard.writeText('haxball.ts3.ru'); alert('Скопирован адрес сервера! haxball.ts3.ru');"
                                     title="haxball.ts3.ru" style="cursor: pointer;" width="100%">
                            </div>
                        </div>
                    </div>
                </div>

                -->
                <div class="card mt-2 mb-1" style="border-radius: 20px 20px 20px 20px;">
                    <div class="card-header mb-0 py-1 justify-content-center bg-for-online-head"
                         style="border-radius: 20px 20px 0px 0">
                        <h5 style="margin-left: 10%">Сервер TeamSpeak 3:</h5>
                        <h6 style="margin-left: 10%; text-decoration: underline">haxball.ts3.ru</h6>
                    </div>

                    <div class="card-body p-0 bg-for-online-body"
                         style="position: relative; border-radius: 0px 0px 20px 20px; width: inherit; padding: 5%">
                        <div class="d-flex">
                            <div class="d-inline-flex mb-2" style="margin: 3% 1px 0 2px">
                                <a href="ts3server://haxball.ts3.ru" class="m-0 p-0">
                                    <img src="/static/img/ico/button-link.PNG" title="haxball.ts3.ru"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin: 3% 2px 0 0">
                                <img src="/static/img/ico/button-copy.PNG"
                                     onclick="navigator.clipboard.writeText('haxball.ts3.ru'); alert('Скопирован адрес сервера! haxball.ts3.ru');"
                                     title="haxball.ts3.ru" style="cursor: pointer;" width="100%">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


{% endblock %}

