{% extends "base.html" %}
{% load static %}
{% load cache %}

{% load account %}
{% load i18n %}
{% load user_tags %}
{% load polls_extras %}
{% block title %}Добро пожаловать на cis-haxball.com! {% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/core.css" %}">
{% endblock %}


{% block content %}


    <div class="container-fluid justify-content-center">
        <div class="row" style="max-width: 1600px; position: relative; margin: 0 auto;">
            <div class="col-2 col-xl-2 col-lg-3 col-sm-6 order-xl-1 order-lg-2 order-md-3 order-sm-3 my-2">
                {% block sidebar_users %}
                    {% show_users_online 12 %}
                {% endblock %}



                {% polls_list 2 user %}


                <div class="card mb-1 mr-0 mt-2 text-right">
                    <iframe src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&default-sum=500&button-text=12&payment-type-choice=on&successURL=https%3A%2F%2Fwww.cis-haxball.com%2F&quickpay=shop&account=410011043451485&targets=%D0%9F%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4%20%D0%BF%D0%BE%20%D0%BA%D0%BD%D0%BE%D0%BF%D0%BA%D0%B5&"
                            width="423" height="222" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                    <a href="https://sobe.ru/na/y2Z2Y1A0s1s0" class="alert-link">Или клик сюда</a>
                </div>

            </div>
            <div class="col-8 col-xl-8 col-lg-12 col-md-12 col-sm-12 mx-0 order-xl-2 order-md-1 order-lg-1">
                <div class="row">


                    <!-- Всплывающее окно входа на сайт -->
                    {% include 'core/include/login_logout_modal/log_out_modal.html' %}

                    <!-- Всплывающее окно выхода с сайта -->
                    <div class="modal" id="logoutModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Хотите выйти?</h4>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'account_logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Да</button>
                                    </form>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Нет</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="main-col col-xl-9 col-lg-9 col-sm-12">

                        {# Блок для отображение профиля пользователя #}
                        {% block profile_of_user %}
                        {% endblock %}

                        {# Блок для отображение одного поста, пост-детейл #}
                        {% block post %}
                        {% endblock %}

                        {# Блок для списка постов #}
                        {% block postlist %}
                        {% endblock %}

                        {# Блок для отображение списка комментариев #}
                        {% block comments %}
                        {% endblock %}

                    </div>

                    <div class="col-xl-3 col-lg-3 col-sm-6 px-0">


                        {% block sidebar_last_activity %}
                            {% show_last_activity 10 %}
                        {% endblock %}

                        {% block sidebar_top_comments %}
                            {% show_top_comments 5 %}
                        {% endblock %}

                        <!--
                {#% block sidebar_for_like %#}
                {#% show_post_with_top_likes 4 %#}
                {#% endblock %#}  -->

                    </div>
                </div>
            </div>


            <div class="col-2 col-xl-2 col-lg-3 col-sm-6 order-3 order-xl-3 order-sm-3 pr-0 pl-1">


                <div class="card mb-1 mr-0 mt-2 text-right">
                    <iframe src="https://discord.com/widget?id=710289992160772197&theme=dark" width="100%" height="500"
                            allowtransparency="true" frameborder="0"
                            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>

                <!--

                                <div class="card mt-2 mb-1" style="border-radius: 20px 20px 20px 20px;">
                    <div class="card-header d-inline-flex mb-0 justify-content-center bg-for-online-head"
                         style="border-radius: 20px 20px 0px 0">
                        <h5>Сервер TeamSpeak 3</h5>
                    </div>
                    <div class="card-body p-0 bg-for-online-body"
                         style="position: relative; border-radius: 0px 0px 20px 20px; width:  inherit; padding: 5%">
                        <h5 class="card-title mb-3 mt-1 text-center text-white">haxball.ts3.ru</h5>
                        <div class="d-flex">
                            <div class="d-inline-flex mb-2" style="margin-left: 2px; margin-right: 1px;">
                                <a href="ts3server://haxball.ts3.ru" class="m-0 p-0">
                                    <img src='{% static "img/ico/button-link.PNG" %}' title="haxball.ts3.ru"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin-right: 2px">
                                <img src='{% static "img/ico/button-copy.PNG" %}'
                                     onclick="navigator.clipboard.writeText('haxball.ts3.ru'); alert('Скопирован адрес сервера! haxball.ts3.ru');"
                                     title="haxball.ts3.ru" style="cursor: pointer;" width="100%">
                            </div>
                        </div>
                    </div>
                </div>

                -->
                <div class="card mt-2 mb-1" style="border-radius: 20px 20px 20px 20px;">
                    <div class="card-header mb-0 py-1 justify-content-center bg-for-online-head"
                         style="border-radius: 20px 20px 0px 0">
                        <h5 style="margin-left: 10%">Сервер TeamSpeak 3:</h5>
                        <h6 style="margin-left: 10%; text-decoration: underline">haxball.ts3.ru</h6>
                    </div>

                    <div class="card-body p-0 bg-for-online-body"
                         style="position: relative; border-radius: 0px 0px 20px 20px; width: inherit; padding: 5%">
                        <div class="d-flex">
                            <div class="d-inline-flex mb-2" style="margin: 3% 1px 0 2px">
                                <a href="ts3server://haxball.ts3.ru" class="m-0 p-0">
                                    <img src="/static/img/ico/button-link.PNG" title="haxball.ts3.ru"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin: 3% 2px 0 0">
                                <img src="/static/img/ico/button-copy.PNG"
                                     onclick="navigator.clipboard.writeText('haxball.ts3.ru'); alert('Скопирован адрес сервера! haxball.ts3.ru');"
                                     title="haxball.ts3.ru" style="cursor: pointer;" width="100%">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


{% endblock %}

