{% extends "base.html" %}
{% load static %}
{% load cache %}

{% load account %}
{% load i18n %}
{% load user_tags %}
{% load polls_extras %}
{% block title %}Добро пожаловать на cis-haxball.com! {% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/core.css" %}">
{% endblock %}


{% block content %}


    <div class="container-fluid justify-content-center">
        <div class="row" style="max-width: 1600px; position: relative; margin: 0 auto;">
            <div class="col-2 col-xl-2 col-lg-3 col-sm-6 order-xl-1 order-lg-2 order-md-2 order-sm-2 my-2 px-1">
                <div class="card mt-2 mb-1" style="border-radius: 20px 20px 20px 20px;">
                    <div class="card-header mb-0 py-1 justify-content-center bg-for-online-head text-center"
                         style="border-radius: 20px 20px 0px 0">
                        <h5>Соцсети</h5>
                        <h6 style="text-decoration: underline">Смотрите нас тут</h6>
                    </div>

                    <div class="card-body p-0 bg-for-online-body"
                         style="position: relative; border-radius: 0px 0px 20px 20px; width: inherit; padding: 5%">
                        <div class="d-flex">
                            <div class="d-inline-flex mb-2 px-1" style="margin: 3% 1px 0 2px">
                                <a href="https://www.youtube.com/channel/UCZGpwhM76ieR15dU8kEzn0w" class="m-0 p-0">
                                    <img src="/static/img/ico/youtube.PNG" title="youtube"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin: 3% 1px 0 2px">
                                <a href="https://discord.gg/8XrnsFGhdy" class="m-0 p-0">
                                    <img src="{% static "img/ico/discord.PNG" %}" title="discord"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin: 3% 1px 0 2px">
                                <a href="https://www.twitch.tv/cis_haxball" class="m-0 p-0">
                                    <img src="{% static "img/ico/twitch.PNG" %}" title="twitch"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin: 3% 1px 0 2px">
                                <a href="https://www.tiktok.com/@cishaxball?_t=8a7V9mjQfJ8&_r=1" class="m-0 p-0">
                                    <img src="{% static "img/ico/tiktok.PNG" %}" title="tiktok"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% block sidebar_users %}
                    {% show_users_online 12 %}
                {% endblock %}



                {% polls_list 2 user %}


                <div class="card mb-1 mr-0 mt-2 text-right">
                    <iframe src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&default-sum=500&button-text=12&payment-type-choice=on&successURL=https%3A%2F%2Fwww.cis-haxball.com%2F&quickpay=shop&account=410011043451485&targets=%D0%9F%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4%20%D0%BF%D0%BE%20%D0%BA%D0%BD%D0%BE%D0%BF%D0%BA%D0%B5&"
                            width="100%" height="250" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
                </div>

                <div class="card mt-2 mb-1" style="border-radius: 20px 20px 20px 20px;">
                    <div class="card-header mb-0 py-1 justify-content-center bg-for-online-head"
                         style="border-radius: 20px 20px 0px 0">
                        <h5 style="margin-left: 6%;">Сервер TeamSpeak 3:</h5>
                        <h6 style="margin-left: 6%; text-decoration: underline">haxball.ts3.ru</h6>
                    </div>

                    <div class="card-body bg-for-online-body"
                         style="position: relative; border-radius: 0px 0px 20px 20px; width: inherit; padding: 5%">
                        <div class="d-flex">
                            <div class="d-inline-flex mb-2" style="margin: 3% 1px 0 2px">
                                <a href="ts3server://haxball.ts3.ru" class="m-0 p-0">
                                    <img src="/static/img/ico/button-link.PNG" title="haxball.ts3.ru"
                                         style="cursor: pointer;" width="100%">
                                </a>
                            </div>
                            <div class="d-inline-flex mb-2" style="margin: 3% 2px 0 0">
                                <img src="/static/img/ico/button-copy.PNG"
                                     onclick="navigator.clipboard.writeText('haxball.ts3.ru'); alert('Скопирован адрес сервера! haxball.ts3.ru');"
                                     title="haxball.ts3.ru" style="cursor: pointer;" width="100%">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-8 main-col col-xl-8 col-lg-12 col-md-12 col-sm-12 mx-0 order-xl-2 order-md-1 order-sm-1 order-lg-1 px-1">


                <!-- Всплывающее окно входа на сайт -->
                {% include 'core/include/login_logout_modal/log_out_modal.html' %}

                <!-- Всплывающее окно выхода с сайта -->
                <div class="modal" id="logoutModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Хотите выйти?</h4>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-footer">
                                <form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Да</button>
                                </form>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Нет</button>
                            </div>
                        </div>
                    </div>
                </div>


                {# Блок для отображение профиля пользователя #}
                {% block profile_of_user %}
                {% endblock %}

                {# Блок для отображение одного поста, пост-детейл #}
                {% block post %}
                {% endblock %}

                {# Блок для списка постов #}
                {% block postlist %}
                {% endblock %}

                {# Блок для отображение списка комментариев #}
                {% block comments %}
                {% endblock %}

            </div>
            <div class="col-2 col-xl-2 col-lg-3 col-sm-6 order-3 order-xl-3 order-sm-3 px-1">

                {% block sidebar_last_activity %}
                    {% show_last_activity 10 %}
                {% endblock %}

                {% block sidebar_top_comments %}
                    {% show_top_comments 5 %}
                {% endblock %}

            </div>
        </div>
    </div>


{% endblock %}

