{% extends "core/home.html" %}
{% load static %}
{% load tournament_extras %}
{% block styles %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static "tournament/teams/team_page.css" %}"> -->

    <style>
        body {
            background-image: url({% static "img/backgrounds/bg-light-4860.png" %})
        }
    </style>
{% endblock %}
{% block title %}Чемпионат | Команды          cis-haxball.com {% endblock %}
{% block profile_of_user %}
    <div class="card mb-4 mt-2" style="border-radius: 25px">
        <div class="card-header" style="border-radius: 25px">
            <h4>Команды</h4>
        </div>
        <div class="card-body text-center">
            {% for team in teams %}
                <a href="{{ team.get_absolute_url }}" class="h5">{{ team.title }}</a>
                <br>
                {% for player in team.players_in_team.all %}
                    <h6>{{ player }} {{ player.role }}</h6>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}