html, body {
  height: 100%;
}

.navbar_color {
    background-color: #effff4;
}

.page-name {
    font-family: 'Lobster', cursive;
    font-size: 28px;
}

.main-container {
    background-color: #6c757d;
}

.post_header {
    font-size: 30px;
}

.users-online {
    margin-top: 15px;
}

.nav-font {
    font-size: 20px;
}

.box_block {
    margin-left: 500px;
}

.bot_nav_page {
    margin-top: 20px;
    margin-bottom: 25px;
}
.form-send-comment {

}


.action-like{
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4
}

.action-like:hover {
    color: #00FF00;
}

.action-like:active {
    color: #34ce57;
}

.action-dislike{
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4
}
.action-dislike:active {
    color: #F53D65;
}

.action-dislike:hover {
    color: #bd2130;
}
