{% load static %}
{% load tournament_extras %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
</style>
<style>
    .table td, .table th {
        padding: 0.5rem;
    }
    .table .number {
        font-family: 'Quicksand', sans-serif;
        font-size: 12pt;
    }

    .table .text {
        font-family: 'Montserrat', serif;
    }

    td img {
        width: 26px;
        height: 26px;
    }
</style>
<table class="table table-striped">
    <thead>
    <tr class="text">
        <th scope="col" class="h6" style="font-weight: 800;">Сезон</th>
        <th scope="col" class="h6" style="font-weight: 800;">Команда</th>
        <th scope="col" class="h6" style="font-weight: 800;">Турнир</th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/statistic/jersey.PNG" %}"
                title="Матчей сыгранно"></th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/statistic/ball-alt.PNG" %}"
                title="Забито"></th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/statistic/boots-alt-alt.PNG" %}"
                title="Голевые передачи"></th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/statistic/gloves-alt2.PNG" %}"
                title="Сухие таймы"></th>
        <th scope="col" class="text-center">
            <img
                src="{% static "img/ico/statistic/sub-out-alt.PNG" %}"
                title="Ушёл с поля">
        </th>
        <th scope="col" class="text-center">
           <img
                src="{% static "img/ico/statistic/sub-in-alt.PNG" %}"
                title="Вышел на замену">
        </th>
        <th scope="col" class="text-center"><img src="{% static "img/ico/statistic/dont-do.PNG" %}"
                             title="Автоголы"></th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/statistic/yellow-card.PNG" %}"
                title="Жёлтые карточки"></th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/statistic/red-card.PNG" %}"
                title="Красные карточки"></th>
    </tr>
    </thead>
    <tbody>
    {% for seas,team in stat.items %}
        <tr>
            <td class="h6 text" rowspan="{{ player|rows_player_stat:seas }}" style="font-weight: 700;">{{ seas }}</td>


            {% for t,c in team.items %}
                <td rowspan="{{ c|length }}" class="text">
                    <img src="{{ t.logo.url }}" alt="{{ t.title }}"
                         class="mr-1" style="vertical-align: bottom;">
                    <a class="team_link font-weight-bolder" href="{{ t.get_absolute_url }}">{{ t.short_title }}</a>

                </td>
                {% for champ, stat in c.items %}
                    <td class="text" style="font-size: 11pt; font-weight: 600;"><a href="{{ champ.get_absolute_url }}">{{ champ.title }}</a></td>
                    {% for i in stat %}
                        <td class="text-center number">{{ i }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}



    {% endfor %}

    <tr>
        <th colspan="3" class="text-center text">
            <!--<h4 class="mb-0" style="font-weight: 900;">Всего</h4>-->
        </th>
        {% for i in overall %}
            <td class="text-center font-weight-bolder number">{{ i }} </td>

        {% endfor %}


    </tr>

    </tbody>
</table>
