{% load static %}
{% load tournament_extras %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
</style>
<style>
    .table td, .table th {
        padding: 0.5rem;
    }
    .table .number {
        font-family: 'Zen Dots', cursive;
    }
</style>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Сезон</th>
        <th scope="col">Команда</th>
        <th scope="col">Турнир</th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/matches_icon.png" %}" height="20" width="20"
                title="Вышел на поле"></th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/ball_2.png" %}" height="20" width="20"
                title="Забито"></th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/assists_icon.png" %}" height="20" width="20"
                title="Голевые передачи"></th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/clean_sheet1.png" %}" height="20" width="20"
                title="Сухие таймы"></th>
        <th scope="col">
            <div class="h-75 text-center">
                <i class="fa fa-arrow-down text-danger" title="Заменён" aria-hidden="true"
                   style="font-size: 21px"></i>
            </div>
        </th>
        <th scope="col">
            <div class="h-75 text-center">
                <i class="fa fa-arrow-up text-success" title="Вышел на замену"
                   aria-hidden="true"
                   style="font-size: 21px"></i>
            </div>
        </th>
        <th scope="col"><img src="{% static "img/ico/ball_2_og.png" %}" height="20" width="20"
                             title="Автоголы"></th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/yellow_card.png" %}" height="20" width="20"
                title="Жёлтые карточки"></th>
        <th scope="col" class="text-center"><img
                src="{% static "img/ico/red_card.png" %}" height="20" width="20"
                title="Красные карточки"></th>
    </tr>
    </thead>
    <tbody>
    {% for seas,team in stat.items %}
        <tr>
            <td class="font-weight-bolder h5" rowspan="{{ player|rows_player_stat:seas }}">{{ seas }}</td>


            {% for t,c in team.items %}
                <td rowspan="{{ c|length }}">
                    <img src="{{ t.logo.url }}" alt="{{ t.title }}" width="24" height="24"
                         class="mr-1">
                    <a class="team_link font-weight-bolder" href="{{ t.get_absolute_url }}">{{ t.short_title }}</a>

                </td>
                {% for champ, stat in c.items %}
                    <td class="font-weight-bolder h5">{{ champ.title }}</td>
                    {% for i in stat %}
                        <td class="text-center number">{{ i }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}



    {% endfor %}

    <tr>
        <th colspan="3" class="text-right">
            <h4>Всего</h4>
        </th>
        {% for i in overall %}
            <td class="text-center font-weight-bolder number">{{ i }} </td>

        {% endfor %}


    </tr>

    </tbody>
</table>
